[user]
  name = Connor Smith
  email = connorhsmith@gmail.com
[core]
  # Update depending on system path
  excludesfile = /home/connorhsm/.gitignore-global
  editor = vim
[credential]
  helper = store
[includeIf "gitdir:~/work-github/"]
  path = .gitconfig-zetifi
